p{
    font-size: 18px;
    border: 2px solid skyblue;
    width: 50%;
    padding: 20px;
    text-align: left;
}

span{
    margin-left: auto;
    text-align: right;
    display: block;
    margin-bottom: auto;
    font-weight: bold;
    border: 1px solid #2c5364;
    width: 20%;
}

.It-is-me{
    text-align: right;
    margin-left: auto;;
}

.It-is-me span {
    text-align: left;
    margin-right: auto;
    width: 20%;
}
