button{
    padding: 10px 18px;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    text-decoration:none;
    font-weight:300;
    color: #203a43;
    text-align:center;
    transition: all 0.2s;
    font-size: 20px;
}
button:hover{
    color:#000000;
    background-color:#FFFFFF;
}